@font-face {
  font-family: "Avenir";
  src: url("./fonts/Avenir.eot");
  src: url("./fonts/Avenir.woff2") format("woff2"),
    url("./fonts/Avenir.woff") format("woff"),
    url("./fonts/Avenir.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
